
<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
	<div class="statusView">
		<div class="statusBox" (click)="getStatusType('all')">
			<p>{{alertTotal}}</p>
			<h2>Total</h2>
		</div>
		<div class="statusBox" (click)="getStatusType('open')">
			<p>{{getGroupByDataOpen}}</p>
			<h2>Open</h2>
		</div>
		<div class="statusBox" (click)="getStatusType('wip')">
			<p>{{getGroupByDataWip}}</p>
			<h2>WIP</h2>
		</div>
		<div class="statusBox" (click)="getStatusType('pending')">
			<p>{{getGroupByDataPending}}</p>
			<h2>Pending</h2>
		</div>
		<div class="statusBox" (click)="getStatusType('resolved')">
			<p>{{getGroupByDataResolved}}</p>
			<h2>Resolve</h2>
		</div>
	
		<div class="statusBox" (click)="getStatusType('closed')">
			<p>{{getGroupByDataClosed}}</p>
			<h2>Close</h2>
		</div>
	</div>
	<mat-card>
	   	<div class="mrgn-b-md add-user-btn" fxLayoutAlign="start center" >
			<div class="dropdownSection">
				<div class="row">
					<div class="col-md-2">
						<mat-form-field class="mrgn-l-md">
							<mat-select placeholder="Select Metrics" (ngModelChange)="searchFiltter($event)"
								[(ngModel)]="searchFiltterVal">
								<mat-option value="alert_id">Alert ID</mat-option>
								<mat-option value="ciname">CI Name</mat-option>
								<mat-option value="component">Component</mat-option>
								<mat-option value="datetime">DateTime</mat-option>
								<mat-option value="botname">BOT Name</mat-option>
								<mat-option value="ticketid">Ticket ID</mat-option>
								<mat-option value="customer_id">Customer Name</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-5">
						<form class="row" *ngIf="ShowCustomer_id == true">
							<mat-form-field class="col-md-8">
								<input type="text" placeholder="Search Client Name" aria-label="Number" matInput [formControl]="myControl"
									[matAutocomplete]="auto" [(ngModel)]="clientNameVal">
								<mat-autocomplete #auto="matAutocomplete">
									<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
										{{option}}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>

							<div class="example-button-row col-md-4">
								<button mat-raised-button color="primary" (click)="searchByCustomer_id()">Search</button>
								<button mat-raised-button color="primary" (click)="clearSearch()">Clear</button>
							</div>
						</form>
						<div class="clearfix row" *ngIf="showDate == true">
							<mat-form-field class="dateFloat col-md-4" appearance="fill">
								<mat-label>Start Date</mat-label>
								<input matInput [matDatepicker]="startDate" (dateInput)="StartDate('input', $event)"
									(dateChange)="StartDate('change', $event)">
								<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
								<mat-datepicker #startDate></mat-datepicker>
							</mat-form-field>
							<mat-form-field class="dateFloat col-md-4" appearance="fill">
								<mat-label>End Date</mat-label>
								<input matInput [matDatepicker]="endDate" (dateInput)="EndDate('input', $event)"
									(dateChange)="EndDate('change', $event)">
								<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
								<mat-datepicker #endDate></mat-datepicker>
							</mat-form-field>
							<div class="example-button-row col-md-4">
								<button mat-raised-button color="primary" (click)="searchByDateTime()">Search</button>
								<button mat-raised-button color="primary" (click)="clearSearch()">Clear</button>
							</div>
						</div>
						<div class="userinf row" *ngIf="showUserInput == true">
							<mat-form-field class="col-md-8">
								<input matInput placeholder="Search..." [(ngModel)]="userInput">
							</mat-form-field>
							<div class="example-button-row col-md-4">
								<button mat-raised-button color="primary" (click)="searchByUserInput()">Search</button>
								<button mat-raised-button color="primary" (click)="clearSearch()">Clear</button>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="" style="float: right;">
							<button mat-raised-button color="primary" (click)="downloadCsvfn()">CSV</button>
							<button mat-raised-button color="primary" (click)="backToDashboardfn()">Back</button>
						</div>
					</div>
				</div>
			</div>
	   	</div>
	   	<div fxLayout="row wrap" fxLayoutAlign="space-between" class="table-responsive">

			<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

				<ng-container matColumnDef="alertid">
					<th mat-header-cell *matHeaderCellDef mat-sort-header (click)="tableheader('alert_id')"> Alert Id </th>
					<td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element">
						<span [class]="'expandThis ' + element.astatus">
							{{element.alertid}}</span></td>
				</ng-container>


				<ng-container matColumnDef="aci_name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header (click)="tableheader('ciname')"> Name </th>
					<td mat-cell *matCellDef="let element"> {{element.aci_name}} </td>
				</ng-container>


				<ng-container matColumnDef="acomponent">
					<th mat-header-cell *matHeaderCellDef mat-sort-header (click)="tableheader('component')"> Component </th>
					<td mat-cell *matCellDef="let element"> {{element.acomponent}} </td>
				</ng-container>


				<ng-container matColumnDef="alert_created_time">
					<th mat-header-cell *matHeaderCellDef mat-sort-header (click)="tableheader('datetime')"> DateTime </th>
					<td mat-cell *matCellDef="let element"> {{element.alert_created_time}} </td>
				</ng-container>

				<ng-container matColumnDef="astatus">
					<th mat-header-cell *matHeaderCellDef> Status </th>
					<td mat-cell *matCellDef="let element"> {{element.astatus}} </td>
				</ng-container>
				<ng-container matColumnDef="BOT_Name">
					<th mat-header-cell *matHeaderCellDef> BOT Name </th>
					<td mat-cell *matCellDef="let element" (click)="showBotInfoFn(modalBotInfo, element.automationid, element.alertid)">
						<button mat-icon-button color="primary" ng-show="element.automationid == 'None' || element.automationid == ''">
							More Info
						</button>
						<button mat-icon-button color="primary" ng-show="element.automationid != 'None' && element.automationid != ''">
							{{element.automationid}}
						</button>
					</td>
				</ng-container>

				<ng-container matColumnDef="TicketID">
					<th mat-header-cell *matHeaderCellDef mat-sort-header (click)="tableheader('ticketid')"> Ticket ID </th>
					<td mat-cell *matCellDef="let element"> 
						<!-- <a class="CreateBtn" (click)="open(content , element.alertid)">Create </a> -->
						<button *ngIf="element.itsmid != ''" class="user-button" mat-button [matMenuTriggerFor]="ticketidmenu">
							<div fxLayout="row" fxLayoutAlign="center center">
								{{element.itsmid}}
							</div>
						</button>
						<mat-menu class="user-menu" x-position="before" y-position="below" #ticketidmenu="matMenu">
							<button mat-menu-item (click)="getFormDetFn(content, item.value, element.alertid, element.itsmid)" *ngFor="let item of ticketdropdownLov">
							<span>{{item.name}}</span>
							</button>
						</mat-menu>
						<button *ngIf="element.itsmid == ''" mat-icon-button color="primary" (click)="getFormDetFn(content, 'create', element.alertid, element.itsmid)">
							Create
						</button>
					</td>
				</ng-container>
				<ng-container matColumnDef="Triage">
					<th mat-header-cell *matHeaderCellDef> Triage </th>
					<td mat-cell *matCellDef="let element"> 
						<button mat-icon-button color="primary" (click)="expandedElement = expandedElement === element ? null : element" >
							<mat-icon>add_box</mat-icon>
						</button>
						<!-- <ng-container *ngIf="expandedElement" matColumnDef="expandedDetail">
							<p>test</p>
							</ng-container> -->
							<!-- (click)="IsIconClicked(element)" -->
						<!-- <ng-container matColumnDef="alertid">
							<th mat-header-cell *matHeaderCellDef mat-sort-header (click)="tableheader('alert_id')"> Alert Id </th>
							<td mat-cell  (click)="expandedElement = expandedElement === element ? null : element">
								<span [class]="'expandThis ' + element.astatus">
									{{element.alertid}}</span></td>
						</ng-container> -->
						<button mat-icon-button color="primary">
							<mat-icon>history</mat-icon>
						</button>
						<!-- <a class="CreateBtn" (click)="open(content , element.alertid)"><mat-icon>add_box</mat-icon></a>
						<a class="CreateBtn" (click)="open(content , element.alertid)"><mat-icon>history</mat-icon></a> -->
					</td>
				</ng-container>

				


				<ng-container matColumnDef="expandedDetail">
					<td mat-cell *matCellDef="let element" [attr.colspan]="dataSource.length">
						<div [class]="element.astatus+'table' + ' example-element-detail alterExpend'"
							[@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
							<div class="example-element-description">


								<p>Description : {{element.associated_events[0].description}} </p>
								<p>Notes : {{element.associated_events[0].notes}} </p>
								<p>Source : {{element.associated_events[0].source}} </p>

								<table class="table">
									<thead>
										<tr>
											<th scope="col">eventid</th>
											<th scope="col">ci_name</th>
											<th scope="col">component</th>
											<th scope="col">description</th>
											<th scope="col">notes</th>
											<th scope="col">severity</th>
											<th scope="col">event_created_time</th>
											<th scope="col">source</th>
											<th scope="col">status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>{{element.associated_events[0].eventid}}</th>
											<th>{{element.associated_events[0].ci_name}}</th>
											<th>{{element.associated_events[0].component}}</th>
											<th>{{element.associated_events[0].description}}</th>
											<th>{{element.associated_events[0].notes}}</th>
											<th>{{element.associated_events[0].severity}}</th>
											<th>{{element.associated_events[0].event_created_time}}</th>
											<th>{{element.associated_events[0].source}}</th>
											<th>{{element.associated_events[0].status}}</th>
										</tr>
									</tbody>
								</table>


							</div>
						</div>
					</td>
				</ng-container>


				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
					[class.example-expanded-row]="expandedElement === element">
				</tr>
				<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

			</table>


			<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)">
			</mat-paginator>
		</div>
	</mat-card>
</div>
		<!-- CREATE MODEL START -->
		<ng-template #content let-modal>
			<div class="modal-header">
				<h4 class="modal-title" id="modal-basic-title">Ticket Form</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="formworkflow">
					<div class="form-group" *ngFor="let item of isTicketFormval">
						<mat-form-field class="example-full-width" *ngIf="item[2] == 'Dropdown'">
							<mat-label>{{item[1]}}</mat-label>
							<select matNativeControl name="ctrl{{item[1]}}" class="form-control"> 
								<option value="" selected>--Select--</option>
							</select>
						</mat-form-field>
						<mat-form-field class="example-full-width" *ngIf="item[2] == 'Label'">
							<mat-label>{{item[1]}}</mat-label>
							<input type="text" matInput name="ctrl{{item[1]}}" class="form-control">
						</mat-form-field>
						
						<mat-form-field class="example-full-width" *ngIf="item[2] == 'TextBox'">
							<mat-label>{{item[1]}}</mat-label>
							<input type="text" matInput name="ctrl{{item[1]}}" class="form-control">
						</mat-form-field>
						
						<mat-form-field class="example-full-width" *ngIf="item[2] == 'Password'">
							<mat-label>{{item[1]}}</mat-label>
							<input type="password" matInput name="ctrl{{item[1]}}" class="form-control">
						</mat-form-field>
						
						<mat-form-field class="example-full-width" *ngIf="item[2] == 'Number'">
							<mat-label>{{item[1]}}</mat-label>
							<input type="number" matInput name="ctrl{{item[1]}}" class="form-control">
						</mat-form-field>
						
						<mat-form-field class="example-full-width" *ngIf="item[2] == 'TextArea'">
							<mat-label>{{item[1]}}</mat-label>
							<textarea matInput placeholder="Description" matAutosizeMinRows="5" matAutosizeMaxRows="20" name="ctrl{{item[1]}}" class="form-control"></textarea>
						</mat-form-field>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button mat-raised-button color="primary" (click)="btnTicketFormSubmit()">Save Changes</button>
				<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
			</div>
		</ng-template>

		<ng-template #modalBotInfo let-modal>
			<div class="modal-header">
				<h4 class="modal-title" id="modal-basic-title">Bot Info</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-lg-12">
					<div class="timeline p-4 block mb-4">
						<div class="tl-item" *ngFor="let tls of botTimelineData">
							<div class="tl-dot b-{{tls.status}}"></div>
							<div class="tl-content">
								<span class="badge">{{tls.alert_id}}</span>
								<div class="">
									{{tls.stages}}
								</div>
								<span class="badge">{{tls.output}}</span>
								<div class="tl-date text-muted mt-1">
									Start : {{tls.starttime}} - End : {{tls.endtime}}
								</div>
							</div>
						</div>
						<!-- <div class="tl-item">
							<div class="tl-dot b-primary"></div>
							<div class="tl-content">
								<div class="">Do you know how Google search works.</div>
								<div class="tl-date text-muted mt-1">45 minutes ago</div>
							</div>
						</div>
						<div class="tl-item">
							<div class="tl-dot b-danger"></div>
							<div class="tl-content">
								<div class="">Thanks to <a href="#" data-abc="true">@apple</a>, for iphone 7</div>
								<div class="tl-date text-muted mt-1">1 day ago</div>
							</div>
						</div>
						<div class="tl-item">
							<div class="tl-dot b-danger"></div>
							<div class="tl-content">
								<div class="">Order placed <a href="#" data-abc="true">@eBay</a> you will get your products</div>
								<div class="tl-date text-muted mt-1">1 Week ago</div>
							</div>
						</div>
						<div class="tl-item">
							<div class="tl-dot b-warning"></div>
							<div class="tl-content">
								<div class="">Learn how to use <a href="#" data-abc="true">Google Analytics</a> to discover vital information about your readers.</div>
								<div class="tl-date text-muted mt-1">3 days ago</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<!-- <button mat-raised-button color="primary" (click)="btnTicketFormSubmit()">Save Changes</button> -->
				<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
			</div>
		</ng-template>

<!-- CREATE MODEL END -->